// ----- Colors ----- //
$primary: #e63369;
$primary_hover: lighten($primary, 5%);
$middle: #e44b84;
$secondary: #e63e92;
$gradient-primary-secondary: linear-gradient($primary, $middle);
$white: #f8f8f8;
$white-hover: lighten($white, 5%);
$black: #202020;
$black-hover: lighten($black, 5%);
