// ----- Colors ----- //
$primary: #f83e5f;
$primary_hover: lighten($primary, 5%);
$middle: #e44b84;
$secondary: #c560c1;
$gradient-primary-secondary: linear-gradient($primary, $secondary);
$white: #f8f8f8;
$white-hover: lighten($white, 5%);
$black: #262626;
$black-hover: lighten($black, 5%);
